:root { }
:root { --branco-principal: }
:root { --branco-principal: #FFFFFF; }
--cinza-secundario:
--cinza-secundario: #C0C0C0;
--botao-azul:
--botao-azul: #167BF7;
-- cor-de-fundo:
--cor-de-fundo: #00030C;
body { }
body { background-color: var(--cor-de-fundo);

        color: var(--branco-principal);
          * { margin: 0; padding: 0; }
          <img src="img/Combo.png"
          <img src="img/Combo.png" alt=
          "O Combo+ é a junção do Alura+ e Alura Língua">
          <section class="principal"></section>
          .principal { background-image: }
          .principal { background-image: url("img/Background.png"); }
          <section class="container principal"></section>
          .container { height: 100vh; }
          vh
          background-repeat:
          background-repeat: no-repeat;
          background-size: contain;